<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <main>
        <section class="header-full">
            <a href="/">
                <h1><span class="fa fa-carrot"></span>habit</h1>
            </a>
            <%if(loggedIn){%>
                <div class="row align-right">
                        <!-- <span><%=username%></span> -->
                        <form action="/users/<%=userID%>">
                            <button type="submit" class="fa fa-user"></button>
                        </form>
                        <form action="/users/<%=userID%>/edit">
                            <button type="submit" class="fa fa-edit"></button>
                        </form>
                        <form action="/users/logout">
                            <button type="submit">logout</button>
                        </form>
                    </div>
                <%}%>
        </section>
        <%if(!loggedIn){%>
            <section class="no-padding no-margin inline-flex flex-center">
                <div class="login-window">
                    <h4>Login</h4>
                    <%if(message){%>
                        <p><%=message%></p>
                        <%}%>
                    <form action="/users/login" method="POST">
                        <input type="text" name="username" placeholder=""><br>
                        <input type="password" name="password" placeholder=""><br>
                        <button type="submit">Login</button>
                    </form> 
                    <form action="/users/new" method="GET">
                        <button type="submit">Sign Up</button>
                    </form> 
                </div>
            </section>
        <%}%>
            <div class="row">
                <nav class="no-padding no-margin column">
                        <div class="big-button">
                                View All Habits:
                                <form action="/habits/" method="GET">
                                    <button type="submit" class="fa fa-icons"></button>
                                </form>
                        </div>
                        <div class="big-button">
                                View All Users:
                                <form action="/users/" method="GET">
                                    <button type="submit" class="fa fa-users-cog"></button>
                                </form> 
                        </div>
                    </nav>
                <section class="list no-margin index-user-list">
                        <%for(let i = 0; i < users.length; i++){%>
                            <%const r = Math.floor(Math.random()*users[i].activities.length)%>
                            <div class="activity-row">
                                <span><%=users[i].username%></span>
                                <div class="icon icon-small fa fa-<%=users[i].activities[r].habit[0].icon%>">
                                    <span><%=users[i].activities[r].habit[0].name%></span>
                                </div>
                                <span><%=users[i].activities[r].habit[0].type%></span>
                                <span><%=users[i].activities[r].time%></span>
                                <span><%=users[i].activities[r].date%></span>
                            </div>
                        <%}%>
                </section>
            </div>
    </main>
    <script src="/js/home.js"></script>
</body>
</html>