<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <form method='GET' action='/' >
        <button type='submit' class="back-button fa fa-arrow-left"></button>
    </form>
    <h2>HABITS INDEX</h2>
    <section class="add-habit">
            <form method="POST" action="/habits/<%=userID%>">
                Habit name: <input type="text" name="name" value=""><br/>
                Type: <input type="text" name="type" value=""><br/>
                Icon: <input type="text" name="icon" value=""><br/>
                <button type="submit">SUBMIT</button>
            </form>
    </section>
    <section>
            <div class="list">
                <%for(let i = 0; i < habits.length; i++){%>
                    <div class="habit-list">
                        <div class="icon icon-large fa fa-<%=habits[i].icon%>">
                        <span><%=habits[i].name%></span>
                        <form action="/habits/<%=userID%>/<%=habits[i]._id%>/<%=i%>" method="GET">
                            <button type="submit">edit</button>
                        </form>
                        <form action="/habits/<%=userID%>/<%=habits[i]._id%>/<%=i%>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </div>
                <%}%>
            </div>
    </section>
</body>
</html>