<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <main>
            <h1>EDIT USER PROFILE</h1>
            <section>
                <form action="/users/<%=user._id%>?_method=PUT" method="POST">
                    Username: <input type="text" name="username" value=<%=user.username%>></br>
                    Password: <input type="password" name="password" value=<%=user.password%>></br>
                    Email: <input type="email" name="email" value=<%=user.email%>></br>
                    Visible: <input type="checkbox" name="visible" 
                        <%if(user.visible){%>
                            checked
                        <%}%>
                    ></br>
                    <button type="submit">SUBMIT</button>
                </form>
                <form action="/users/<%=userID%>?_method=DELETE" method="POST">
                    <button type="submit">Delete Profile</button>
                </form>
                <form method='GET' action='/users/<%=user._id%>' >
                    <button type='submit' class="back-button fa fa-arrow-left"></button>
                </form>
            </section>
    </main>
</body>
</html>