<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <main>
        <form method='GET' action='/users/' >
            <button type='submit' class="back-button fa fa-arrow-left"></button>
        </form>
        <h2><%=user.username%>'s Habits</h2>
        <div class="inline-flex">
            <aside class="column quarter-column">
                    <div class="inline-flex center">
                            <form action="/users/<%=user._id%>/edit" method="GET">
                                <button type="submit" class="fa fa-user-edit"></button>
                            </form>
                    </div>
                    <section class="add-activity">
                            <form action="/activities/<%=user._id%>" method="POST">
                                <select name="habitId">
                                        <% for(let i = 0; i < habits.length; i++) { %>
                                            <option value="<%=habits[i]._id%>"><%=habits[i].name%></option>
                                        <% } %>
                                </select><br/>
                                <%const date = new Date()%>
                                <%const day = date.getDate()%>
                                <%const month = date.getMonth() + 1%>
                                <%const year = date.getFullYear()%>
                                Date: 
                                </br>
                                    <input type="text" class="date-field" name="day" value="<%=day%>">
                                    <input type="text" class="date-field" name="month" value="<%=month%>">
                                    <input type="text" class="date-field-long" name="year" value="<%=year%>">
                                </br>
                                Time Spent (mins): <input type="text" name="time" class="date-field-long" value="0"></br>
                                <button type="submit">SUBMIT</button>
                            </form>
                        </section>
                    <section class="add-habit">
                            <form method="POST" action="/habits/<%=userID%>">
                                <select name="habitID">
                                    <% for(let i = 0; i < habits.length; i++) { %>
                                        <option value="<%=habits[i]._id%>"><%=habits[i].name%></option>
                                    <% } %>
                                </select>
                                <br/>
                                OR:<br/>
                                Habit name: <input type="text" name="name" value=""><br/>
                                Type: <input type="text" name="type" value=""><br/>
                                Icon: <input type="text" name="icon" value=""><br/>
                                <button type="submit">SUBMIT</button>
                                <form action="/users/<%=user._id%>/edit" method="GET">
                                    <button type="submit" class="fa fa-user-edit"></button>
                                </form>
                            </form>
                    </section>
                    <section class="user-habits">
                            top habits
                                <% for(let i = 0; i < user.habits.length; i++) { %>
                                    <div value="<%=user.habits[i]._id%>">
                                        <%=user.habits[i].name%>
                                        <form action="/habits/<%=userID%>/<%=i%>?_method=DELETE" method="POST">
                                            <button type="submit">X</button>
                                        </form>
                                    </div>
                                <% } %>
                    </section>
            </aside>
            <div class="column three-quarter-column">
                <section>
                    recent activities
                    <div class="list-full">
                        <div class="inline-flex activity-list-headers">
                            <span></span>
                            <span>habit</span>
                            <span>type</span>
                            <span>time</span>
                            <span>date</span>
                        </div>
                            <% for(let i = 0; i < user.activities.length; i++) { %>
                                    <div class="activity-row">
                                        <div class="icon icon-small fa fa-<%=user.activities[i].habit[0].icon%>">
                                            <span><%=user.activities[i].habit[0].name%></span>
                                        </div>
                                        <span><%=user.activities[i].habit[0].type%></span>
                                        <span><%=user.activities[i].time%></span>
                                        <span><%=user.activities[i].date%></span>
                                        <form action="/activities/<%=userID%>/<%=user.activities[i]._id%>/<%=i%>/edit" method="POST">
                                            <button type="submit" class="fa fa-edit"></button>
                                        </form>
                                        <form action="/activities/<%=userID%>/<%=user.activities[i]._id%>/<%=i%>?_method=DELETE" method="POST">
                                            <button type="submit" class="fa fa-trash-alt"></button>
                                        </form>
                                    </div>
                            <% } %>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>